<!DOCTYPE html>
<html>
<head>
	<title> Attention Test </title>
	<link rel="stylesheet" type="text/css" href="stroop.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="mainController" ng-cloak>
	<section class="home-page" ng-show="homeShow">
		<div class="title"> 
			<span class="lightred"> A </span> <span class="lightblue"> T </span> <span class="lightgreen"> T </span>
			<span class="lightpurple"> E </span> <span class="darkorange"> N </span> <span class="break" class="lightpink"> T </span><span class="break" class="lightpink"> I </span><span class="break" class="lightpink"> O </span><span class="break" class="lightpink"> N </span>
			<br>
			<span class="medgreen"> T </span> <span class="lightyellow"> A </span> <span class="hotpink"> S </span> 
			<span class="medred"> K </span>
		</div>
		<div class="desc"> 
			What is the Stroop Effect? <br>
			The Stroop Effect is a psychological phenomonen that correlates reaction time to interference in a famililar environment. <br>
			It was first discovered by John Ridley Stroop in 1935. <br>
			Before starting the game, it is recommended you read more about the <a href="https://imotions.com/blog/the-stroop-effect/"> Stroop Effect </a> . <br>
		</div>
		<div class = "instr"> 
			<span class="instr-title"> 
				<span> Colour Test Instructions: </span>
				<span class="more" ng-show="plusButtonWord" ng-click="panelConfigWord()"> + </span> <span class="more" ng-show="openWord" ng-click="panelConfigWord()"> - </span>
			</span>
			<div class="instr-text" ng-show="openWord">
				For each word, select the COLOUR of the word from the options.
				There are 15 words and you have 2 seconds for each word!
				Your score will be displayed at the end.
				Good Luck!
			</div>
		</div>
		<div class="instr instr-bottom">
			<span class="instr-title"> 
				<span> Numerical Test Instructions: </span>
				<span class="more" ng-show="plusButtonNum" ng-click="panelConfigNum()"> + </span> <span class="more" ng-show="openNum" ng-click="panelConfigNum()"> - </span>
			</span>
			<div class="instr-text" ng-show="openNum">
				There will be two numbers displayed on the screen. Select the number that is bigger in VALUE (not necessarily size).
				There are 15 questions and you have 2 seconds for each question!
				Your score will be displayed at the end.
				Good Luck!
			</div>
		</div>
		<div>
			<span ng-click="startBtn()" class="start-button"> Colour Test </span>
			<span ng-click="startNumberBtn()" class="start-button"> Numerical Test </span>
		<botton onclick="window.location.href = 'home.html';"class="start-button"> Back </botton>
		</div>

	</section>

	<section class="word-page" ng-show="wordShow">
		<div ng-class="class" class="color-text" ng-bind="color"> </div>
		<div>
			<span ng-repeat="x in arr" ng-click="next(x)" class="option-button" ng-bind="x">
			</span>
		</div>
		<div class="time" ng-bind="time"></div>
		<div class="buttons">
			<span ng-click="resultPage()" class="quit-button"> QUIT </span>
			<span ng-click="reloadPage()" class="home-button"> HOME </span>
		</div>
	</section>

	<section class="number-page" ng-show="numberShow">
		<span ng-click="nextNum(numOne)" ng-class="sizeClassOne" class="number-one" ng-bind="numOne"> </span>
		<span ng-click="nextNum(numTwo)" ng-class="sizeClassTwo" class="number-two" ng-bind="numTwo"> </span>
		<div class="time" ng-bind="time"> </div>
		<div class="buttons">
			<span ng-click="quit()" class="quit-button"> QUIT </span>
			<span ng-click="reloadPage()" class="home-button"> HOME </span>
		</div>
	</section>

	
	<section class="result-page" ng-show="resultShow">
		<div class = "score" ng-bind="score"> </div>
		<span ng-click="reloadPage()" class="home-button" id="home-button"> HOME </span>
	</section>


</body>


<script src="app.js"></script>
<script type="text/javascript" src="mainController.js"></script>
</html>