body {
/*	background-color: rgb(115,115,115);
	background-color: rgb(255,217,179);
	background-color: rgb(255,157,102); 
	background-color: rgb(0,0,77); 
	background-color: rgb(38,0,77); */
	background-color: rgb(235,229,229);
}
section {
	margin: 0 auto;
	text-align: center;
	width: 980px;
	font-family: "Arial Black", Gadget, sans-serif;
	color: black;
}
.title {
	font-weight: bolder;
	font-size: 53px;
	margin-bottom: 20px;
}
.desc {
	padding-bottom: 5px;
	border-bottom: black solid;
}
.instr {
	text-align: left;
	margin-top: 20px
}
.instr-bottom {
	margin-bottom: 100px;
}
.instr-title {
	border: black double;
	border-width: 3px;
	padding: 7px;
	text-align: left;
	font-size: 20px;
	display: inline-block;
}
.instr-text {
	margin-top: 15px;
}
.more {
	margin-left: 5px;
	cursor: pointer;
	color: red;
	font-size: 25px;
}
.break {
	margin-right: 15px;
}
.color-text {
	font-weight: bolder;
	font-size: 75px;
	margin-bottom: 30px;
}
.time {
	color: red;
	text-align: right;
}
.score {
	margin-bottom: 100px;
	font-size: 50px;
}
a:link {
	color: rgb(0,179,0);
	text-decoration: none;
	background-color: transparent;
}
a:visited {
	color: rgb(0,179,0);
	text-decoration: none;
	background-color: transparent;
}
a:hover {
	color: rgb(0,128,0);
	text-decoration: none;
	background-color: transparent;
}
.number-one {
	margin-right: 27px;
	cursor: pointer;
}
.number-two {
	cursor: pointer;
}


/* Buttons */
.buttons {
	margin-top: 150px;
}
.start-button, .option-button, .quit-button, .home-button, .submit-button {
	border-radius: 13px;
	padding: 15px;
	cursor: pointer;
	text-align: center;
	-webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    font-size: 30px;
}
.start-button {
	background-color: rgb(118,0,102);
	color: white;
	margin-right: 10px;
}
.start-button:hover {
	background-color: white;
	color: rgb(118,0,102);
	border: 2px;
	border-style: solid;
	border-color: rgb(118,0,102);
}

.option-button {
	color: black;
	border: 2px;
	border-style: solid;
	border-color: black;
	margin-right: 50px;
	padding: 10px !important;
	border-radius: 0px !important;
}
.option-button:hover {
	background-color: rgb(194,194,214);
	color: black;
}

.home-button {
	background-color: rgb(0, 82, 204);
	color: white;
}
.home-button:hover {
	background-color: white;
	color: rgb(0, 82, 204);
	border: 2px;
	border-style: solid;
	border-color: rgb(0, 82, 204);
}

.quit-button {
	background-color: rgb(180,0,51);
	color: white;
	margin-right: 230px;
}
.quit-button:hover {
	background-color: white;
	color: rgb(180,0,51);
	border: 2px;
	border-style: solid;
	border-color: rgb(180,0,51);
}


.submit-button {
	background-color: rgb(0,180,51);
	color: white;
	margin-right: 180px;
}
.submit-button:hover {
	background-color: white;
	color: rgb(0, 204, 82);
	border: 2px;
	border-style: solid;
	border-color: rgb(0, 204, 82);
}
.moptions {
	color: black;
	border: 2px;
	border-style: solid;
	border-color: black;
	margin: 30px;
	padding: 10px;
	border-radius: 0px;
	cursor: pointer;

}

.moptions:hover {
	background-color: rgb(194,194,214);
	color: black;

}


/* All the different colours used */
.darkpurple {
	color: rgb(70,0,102);
}
.lightpurple {
	color: rgb(153,0,153);
}
.medpurple {
	color: rgb(118,0,102);
}
.darkgreen {
	color: rgb(0,77,0);
}
.lightgreen {
	color: rgb(0,179,0);
}
.medgreen {
	color: rgb(0,128,0);
}
.darkred {
	color: rgb(128,0,0);
}
.lightred {
	color: rgb(255,0,0);
}
.medred {
	color: rgb(204,0,0);
}
.darkblue {
	color: rgb(0,25,232);
}
.lightblue {
	color: rgb(0,85,255);
}
.medblue {
	color: rgb(13,89,242);
}
.darkyellow {
	color: rgb(230,184,0);
}
.lightyellow {
	color: rgb(255,209,26);
}
.darkorange {
	color: rgb(255,128,0);
}
.hotpink {
	color: hotpink;
}
.darkpink {
	color: rgb(230,0,115);
}
.lightpink {
	color: rgb(255,77,166);
}
.medpink {
	color: rgb(255,128,191);
}
.white {
	color: white;
}
.darkbrown {
	color: rgb(77,40,0);
}
.lightbrown {
	color: rgb(179,92,0);
}
.medbrown {
	color: rgb(128,66,0);
}

/* All the different sizes used */
.tiny {
	font-size: 40px;
}
.small {
	font-size: 50px;
}
.medsmall {
	font-size: 60px;
}
.medium {
	font-size: 80px;
}
.big {
	font-size: 90px;
}
.verybig {
	font-size: 100px;
}
.large {
	font-size: 120px;
}

